@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<table id="example" class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            @foreach (Model.DTable col in Model.DTables)
            {
                <th>@col.Name</th>
            }
        </tr>
    </thead>
</table>
@section scripts
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.bootstrap4.min.css" />
    
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script srt="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.colVis.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var TableDt = @Html.Raw(Json.Serialize(Model.DTablesJson.Value));            
            $("#example").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "ajax": {
                    url: "?handler=",
                    type: "POST",
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    @*"render": function (data, type, row, meta) {
                        return '<a href="/edit/' + row.uid + '">Edit</a> | <a href="/details/' + row.uid + '">Details</a> | <a href="/delete/' + row.uid + '">Delete</a> | <a href="#" class="btn btn-danger" onclick=DeleteCustomer("' + row.uid + '"); >Delete</a>';
                    },*@
                    "sortable": false
                }],
                "columns": TableDt["dTables"],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, ':visible']
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: 'Show/Hide Columns',
                        @*className: 'btn btn-info',
                        columnText: function (dt, idx, title) {
                            return (idx + 1) + ': ' + title;
                        }*@
                    },
                ],
                "order": [[0, "desc"]]
            });
        });</script>
}